index.d.ts
eslint.config.js
.prettierrc
.prettierignore
.node-version
.eslintrc.json
install.js
index.html
instalation.sh
jsdoc.json
action.yml
docs/*
.github/*
test
tests
*.spec.js
*.test.js
build
*.config.js
*.config.json
.env
.env.local
.env.*.local
*.log
*.tmp
*.swp
*.bak
coverage
*.lcov
.vscode
.idea
.readthedocs.yaml
.readthedocs.yml